<div class="card shadow mb-4 game-list-panel">

  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">{{listOf}}</h6>
  </div>

  <div class="card-body">
    <ul class="list-group" [style.max-height.px]="maxHeight">
      <li *ngFor="let game of games" class="list-group-item media">
        <img src="{{game.thumbnail}}" alt="{{game.name}}" class="img-thumbnail rounded-circle mr-2">
        <a href="https://boardgamegeek.com/boardgame/{{game.id}}" target="blank"
          class="h5 mt-2 media-body">{{game.name}}</a>
      </li>
    </ul>
  </div>
</div>