<div class="row" *ngIf="summary">

  <div class="col-xl-3 col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Games</h6>
      </div>
      <div class="card-body align-items-center">
        <ngx-charts-linear-gauge [min]=0 [max]=summary.allItemsCount [value]=summary.gamesCount [scheme]=config.scheme
          [view]=config.view [units]="'games / all items'"></ngx-charts-linear-gauge>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Expansions</h6>
      </div>
      <div class="card-body align-items-center">
        <ngx-charts-linear-gauge [min]=0 [max]=summary.allItemsCount [value]=summary.expansionsCount
          [scheme]=config.scheme [view]=config.view [units]="'expansions / all items'"></ngx-charts-linear-gauge>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Average game complexity</h6>
      </div>
      <div class="card-body align-items-center">
        <ngx-charts-linear-gauge [min]=0 [max]=5 [value]=summary.averageGameWeight [scheme]=config.scheme
          [view]=config.view [units]="'complexity rating'"></ngx-charts-linear-gauge>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6" id="time-summary-card">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Time required to play</h6>
      </div>
      <div class="card-body">
        <p>{{summary.daysNeeded}} days {{summary.hourdNeeded}} hours</p>
      </div>
    </div>
  </div>

</div>