<div *ngIf="userId" class="row">

  <div class="col-lg-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">User</h6>
      </div>
      <div class="card-body">
        <h2>{{userId}}</h2>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <app-badges [badges]=badges></app-badges>
  </div>
</div>

<app-summary id="summary" [summary]=summary></app-summary>

<app-preferences id="complexity" displayName="Complexity" [preferences]="popularities.weight"
  [chartType]="ChartType.BAR">
</app-preferences>

<app-preferences id="players" displayName="Games by player count" [preferences]="popularities.recommendedPlayers" filterName="filter name" [filteredPreferences]="popularities.bestPlayers"
  [chartType]="ChartType.BAR">
</app-preferences>

<app-preferences id="themes" displayName="Themes" [preferences]="popularities.theme">
</app-preferences>
<app-preferences id="mechanisms" displayName="Mechanisms" [preferences]="popularities.mechanism"></app-preferences>
<app-preferences id="designers" displayName="Designers" [preferences]="popularities.designer"></app-preferences>
<app-preferences id="artists" displayName="Artists" [preferences]="popularities.artist">
</app-preferences>
<app-preferences id="families" displayName="Families" [preferences]="popularities.family">
</app-preferences>
<app-preferences id="subdomains" displayName="Subdomains" [preferences]="popularities.subDomain"></app-preferences>