.chart {
    display: inline-block;
}

.game-list-panel ul {
    overflow-y: auto;
}

.game-list-panel .list-group-item {
    display: flex;
    padding: .5rem
}

.game-list-panel .img-thumbnail {
    width: 45px;
    height: 45px;
}