<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">BGPA</div>
  </a>

  <hr class="sidebar-divider my-0">

  <li class="nav-item active">
    <a class="nav-link" href="/">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a>
  </li>

  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Preferences
  </div>

  <li class="nav-item">
    <a class="nav-link" href="#themes">
      <i class="fas fa-fw fa-cog"></i>
      <span>Themes</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#mechanisms">
      <i class="fas fa-fw fa-cog"></i>
      <span>Mechanisms</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#designers">
      <i class="fas fa-fw fa-cog"></i>
      <span>Designers</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#artists">
      <i class="fas fa-fw fa-cog"></i>
      <span>Artists</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#families">
      <i class="fas fa-fw fa-cog"></i>
      <span>Families</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#subdomains">
      <i class="fas fa-fw fa-cog"></i>
      <span>Subdomains</span>
    </a>
  </li>

</ul>