<nav id="page-nav" class="navbar align-self-start sticky-top">
  <nav class="nav nav-pills flex-column align-top">
    <a class="nav-link" href="#preferences">Preferences</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ml-3 my-1" href="#themes">Themes</a>
      <a class="nav-link ml-3 my-1" href="#mechanisms">Mechanisms</a>
      <a class="nav-link ml-3 my-1" href="#mechanisms">Designers</a>
      <a class="nav-link ml-3 my-1" href="#artists">Artists</a>
      <a class="nav-link ml-3 my-1" href="#families">Families</a>
      <a class="nav-link ml-3 my-1" href="#subdomains">Sub domains</a>
    </nav>
  </nav>
</nav>