<div class="row" *ngIf="preferences">
  <div [ngClass]="(chartType==ChartType.BUBBLE)? 'col-xl-9':'col-xl-6'">
    <div class="card shadow mb-4">

      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">{{displayName}}</h6>

        <div *ngIf="filterName" class="form-check">
          <label class="customcheck">
            {{filterName}}
            <input type="checkbox" class="form-check-input" [checked]="filteringActive" (change)="onFiltering()">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>

      <div class="card-body">
        <div class="chart-area">

          <ngx-charts-pie-chart *ngIf="chartType===ChartType.PIE" [view]="chartConfig.view"
            [scheme]="chartConfig.colorScheme" [results]="selectedDataset.chartData" [legend]="chartConfig.showLegend"
            [explodeSlices]="chartConfig.explodeSlices" [labels]="chartConfig.showLabels"
            [doughnut]="chartConfig.doughnut" [gradient]="chartConfig.gradient" (select)="onSelectFromChart($event)">
          </ngx-charts-pie-chart>

          <ngx-charts-bar-vertical *ngIf="chartType===ChartType.BAR" [view]="barChartConfig.view"
            [scheme]="barChartConfig.colorScheme" [results]="selectedDataset.chartData" [legend]="barChartConfig.legend"
            [xAxis]="barChartConfig.showXAxis" [yAxis]="barChartConfig.showYAxis" [gradient]="barChartConfig.gradient"
            (select)="onSelectFromChart($event)">
          </ngx-charts-bar-vertical>

          <ngx-charts-bubble-chart *ngIf="chartType===ChartType.BUBBLE" [view]="bubbleChartConfig.view"
          [scheme]="bubbleChartConfig.colorScheme" [results]="selectedDataset" [legend]="bubbleChartConfig.legend"
          [xAxis]="bubbleChartConfig.showXAxis" [yAxis]="bubbleChartConfig.showYAxis"
          [xScaleMin]="bubbleChartConfig.xScaleMin"
          [xAxisLabel]="xLabel"
          [yAxisLabel]="yLabel"
          [showXAxisLabel]="bubbleChartConfig.showXAxisLabel"
          [showYAxisLabel]="bubbleChartConfig.showYAxisLabel"
          (select)="onSelectItem($event)">
        </ngx-charts-bubble-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="game-list-panel" [ngClass]="(chartType==ChartType.BUBBLE)? 'col-xl-3':'col-xl-6'">
    <app-game-list *ngIf="selected_items && chartType===ChartType.PIE" [listOf]="selected_items.name"
      [games]="selected_items.gamesInGroup" [maxHeight]="chartConfig.view[1]"></app-game-list>

    <app-game-list *ngIf="selected_items && chartType===ChartType.BAR" [listOf]="selected_items.name"
      [games]="selected_items.gamesInGroup" [maxHeight]="barChartConfig.view[1] + 70"></app-game-list>

    <app-game-panel *ngIf="selected_item && chartType===ChartType.BUBBLE" [maxHeight]="bubbleChartConfig.view[1] + 70"  [game]="selected_item"
    [xLabel]="xLabel" [yLabel]="yLabel" [rLabel]="rLabel" [seriesLabel]="seriesLabel"
    >
      
    </app-game-panel>
  </div>
</div>